<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container px-5 px-md-0">
        <div class="row">

            <div class="col-lg-4 col-md-4 ">
                <div class="footer__about d-flex flex-column align-items-center align-items-md-start ">
                    <div class="footer__logo d-flex justify-content-center">
                        <a href="/"><img src="/img/footerLog.png" alt=""></a>
                    </div>
                    <p class="  text-left">The customer is at the heart of our unique business model.</p>
                    <a href="#"><img src="/img/payment.png" alt=""></a>
                </div>
            </div>

            <div class="col-lg-4  col-md-4  text-center mt-3 ">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul style="padding: 0;">
                        <li><a href="/search">Search</a></li>
                        <li><a href="/search">Trending Shoes For Summer</a></li>
                        <li><a href="/orders">Orders</a></li>
                        <li><a href="#">Sale </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  text-center mt-3">
                <div class="footer__widget">
                    <h6>OTHER DETAILS</h6>
                    <ul style="padding: 0;">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods Available</a></li>
                        <li><a href="#">Delivery Methods</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">

                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>


<script>

    function renderBg() {

        const products = document.querySelectorAll('[data-id="bg-render"]');

        products.forEach((product) => {

            const imgUrl = product.getAttribute('data-for-bg');

            product.style.backgroundImage = `url('${imgUrl}')`;

        })

    };



    const clickable_Divs = document.querySelectorAll('[click-id="productDetailsLink"]');

    clickable_Divs.forEach((clickableDiv) => {
        const groupID = clickableDiv.getAttribute('group-id');
        const colorID = clickableDiv.getAttribute('color-id');

        clickableDiv.addEventListener('click', function () {

            window.location.href = `/user/productDetails/${groupID}/?color=${colorID}`;
        });
    })




    window.addEventListener('load', renderBg);


    const notificationBtn = document.getElementById('notificationClose');
    const notificationMessage = document.getElementById('notification-message');
    const messageLine = document.getElementById('messageLine');

    notificationBtn.addEventListener('click', (e) => {

        notificationMessage.hidden = true
    })




</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>